@import "tailwindcss";
@plugin "daisyui";

@layer utilities {
    .font-logo {
      font-family: 'Bebas Neue', sans-serif;
    }
  }
  

  .animate-fade {
       animation: fade458 1s linear infinite;
     }
   @keyframes fade458 {
       from {
         opacity: 1;
       }
       to {
         opacity: 0.25;
       }
     }